@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 71, 84, 103;
  --background-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.card-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}